* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb)); */

  height: 100vh;
  /* width: 90%; */
  /* padding: 0 2rem; */
  margin: 0 auto;
  /* outline: auto; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  font-family: inherit;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: #000;
  /* font-family: Manrope; */
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.sub-title {
  /* width: 20.4375rem; */

  color: #000;

  /* font-family: Manrope; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  /* 150% */
  letter-spacing: 0.05356rem;
  text-transform: uppercase;
}

.pgh {
  text-align: center;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
}

.header {
  background-color: #000;
  flex-direction: row;
  justify-content: space-around;
  /* width: 375px; */
  /* outline: auto; */
  height: max-content;
  padding: 2rem 0;
  position: relative;

}


.toggleNav {
  /* outline: auto; */
  position: absolute;
  background: #FFF;
  left: 0;
  width: 0;
  overflow: hidden;
  /* max-width: 290px; */
  z-index: 9;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
  /* height: 80vh; */
}

.showNav {
  width: 90%;
  transform: translateX(0px);
  height: 89vh;
}

.footer {
  text-align: center;
  gap: 2rem;
  padding: 2.5rem 1rem;
  background: #000;
}

.footerlinks {
  color: #FFF;
  /* font-family: Manrope; */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
  /* 192.308% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.footer-pgh {
  color: #FFF;
  line-height: 1.5625rem;
  opacity: 0.5;
}


.hero {
  height: 90vh;
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroinnerdiv {
  /* outline: auto; */
  max-width: 80%;
  text-align: center;
  gap: 2rem;
}

.new-tag {
  color: #FFF;
  text-align: center;
  /* font-family: Manrope; */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  opacity: 0.4964;
}

.header-title {
  color: #FFF;
}


.header-pgh {
  opacity: 0.75;
  color: #FFF;
}

.product-btn {
  width: 10rem;
  height: 3rem;
  /* font-family: Manrope; */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;

}

.header-btn {
  background: #D87D4A;
  color: #FFF;
  border: none;
}

.header-categories {
  height: max-content;
  width: 90%;
  margin: 0 auto;
  /* outline: auto; */
  align-items: center;
  justify-content: center;
  /* margin-top: 7rem;
  margin-bottom: 3rem; */
}

.header-category-margin {
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.header-category {
  margin: 0 auto;
  padding: 1rem 0;
  margin-top: 5rem;
  position: relative;
  width: 20.4375rem;
  height: 10.3125rem;
  /* flex-shrink: 0; */
  border-radius: 0.5rem;
  background: #F1F1F1;
  justify-content: flex-end;
  gap: 1.5rem;

}

.cate-img {
  position: absolute;
  bottom: 5rem;
  left: 6rem;
  height: 150px;
  width: 150px;
}

.cate-title {
  color: #000;
  text-align: center;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.06694rem;
  text-transform: uppercase;
}

.cate-subtitle {
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  opacity: 0.5;
}


.homepage-speaker-detail-1 {
  border-radius: 0.5rem;
  background: #D87D4A;
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
  height: 37.5rem;
  justify-content: space-around;
}

.homepage-speaker-image-1 {
  width: 10.7655rem;
  height: 12.9375rem;
}


.homepage-speaker-header-1 {
  color: #FFF;
  max-width: 70%;

}

.homepage-speaker-pgh-1 {
  max-width: 70%;
  color: #FFF;
  opacity: 0.75;
}

.homepage-speaker-btn-1 {
  background: #000;
  color: #FFF;
}

.homepage-speaker-detail-2 {
  border-radius: 1.4rem;
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  margin: 0 auto;
  height: 22.9375rem;
  align-items: flex-start;
  gap: 3.5rem;
  padding: 0 1rem;
}

.homepage-speaker-header-2 {
  color: #000;
  /* font-family: Manrope; */
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.homepage-speaker-btn-2 {
  border: .11rem solid black;
  background-color: transparent;
}

.homepage-speaker-detail-3 {
  width: 90%;
  margin: 0 auto;
  height: max-content;
  gap: 1rem;
  border-radius: 1.4rem;
}

.homepage-speaker-image-3 {
  width: 100%;
  border-radius: .5rem;
  height: 12.5rem;
}

.homepage-speaker-div-3 {
  border-radius: .5rem;
  height: 12.5rem;
  width: 100%;
  align-items: flex-start;
  background-color: #F1F1F1;
  gap: 1rem;
  padding: 0 1rem;
}

.layout-about {
  width: 90%;
  margin: 0 auto;
  height: 45.875rem;
  justify-content: space-around;
}

.layout-about-img {
  width: 100%;
  border-radius: .5rem;
}

.layout-about-title {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 0.0625rem;
}

.layout-about-colored-title {
  color: #D87D4A;
}

.layout-about-pgh {
  color: #000;
  opacity: 0.5;
}

.category-product {
  /* outline: auto; */
  justify-content: space-between;
  height: 90vh;
}

.category-product-image-bg {
  width: 20.4375rem;
  height: 22rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #F1F1F1;
}

.category-product-image {
  width: 13.75rem;
  height: 15.1875rem;
  flex-shrink: 0;
}

.category-product-pgh {
  max-width: 70%;
}

.category-header {
  height: max-content;
  padding: 2rem 0;
  flex-shrink: 0;
  background-color: #000;

  color: #FFF;
  text-align: center;
  /* font-family: Manrope; */
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.category-product-container {
  gap: 3rem;
  margin: 3rem auto;
  /* outline: auto; */
  width: 90%;
  justify-content: none;
  align-items: none;
}

.back-btn-div {
  margin: 0 auto;
  width: 90%;
  margin-top: 1rem;
}

.back-btn {
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
  border: none;
  background-color: white;
}

.product-info-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-info-div-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-to-cart-div {
  display: flex;
  width: 100%;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: space-between;
}

.add-to-cart-divs {
  width: 45%;
}

.add-to-cart-span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.qty {
  display: flex;
  width: 60%;
  /* justify-content: space-between; */
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  /* 166.667% */
  opacity: 0.5;
  gap: 1rem;
}

.qty-span {
  color: #D87D4A;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
  /* 166.667% */
}

.galleryImg {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.galleryImg-1 {
  height: 13.98213rem;
  border-radius: 0.5rem;
  background: #F1F1F1;
}

.galleryImg-2 {
  height: 23rem;
  border-radius: 0.5rem;
  background: #F1F1F1;
}

.other-product-div {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.other-product-inner-div {
  height: 17.5625rem;
  /* outline: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-self: center; */
}

.other-product-img-bg {
  /* width: 100%; */
  height: 7.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #F1F1F1;
}

.other-product-img {
  /* width: 5.42856rem; */
  height: 6rem;
}

.cart-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.cart {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  /* outline: auto; */
  height: max-content;
  margin: 3rem auto;
  padding: 1.5rem;
  width: 90%;
  gap: 2rem;
  background-color: #FFF;
}

.cart-title {
  /* outline: auto; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-items {
  height: max-content;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-details {
  /* outline: auto; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.cart-img {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}

.cart-info {
  display: flex;
  flex-direction: column;
  /* outline: auto; */
  gap: .3rem;
}

.cart-product-name {
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
}

.cart-product-price {
  opacity: 0.5;
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
}

.cart-span {
  width: 6rem;
  height: 2rem;
  background: hwb(0 95% 5%);
  /* outline: auto; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  color: #000;
  text-align: center;
  /* font-family: Manrope; */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.opacity {
  opacity: 0.25;
}

.cart-total {
  /* outline: auto; */
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-title {
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
}

.total-amount {
  color: #000;
  text-align: center;
  /* font-family: Manrope; */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.cart-button {
  height: 3rem;
  width: 100%;
  background: #D87D4A;
  /* border: none; */

  color: #FFF;
  text-align: center;
  /* font-family: Manrope; */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.confirm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
  background-color: rgba(0, 0, 0, 0.3);
}

.confirm {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  outline: auto;
  height: max-content;
  margin: 3rem auto;
  padding: 1.5rem;
  width: 90%;
  gap: 1.5rem;
  background-color: #FFF;
}

.checkbox {
  background-image: url("/assets/Oval.svg");
  width: 4rem;
  height: 4rem;

}

.confirm-info-div {
  max-height: max-content;
  /* width: 16.4375rem; */
  /* height: 14.5rem; */
  border-radius: 0.5rem;
  background: #F1F1F1;
}

.confirm-products-div {
  padding: 2rem;
  /* height: 9.5rem; */


  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* justify-content: space-between; */
  align-items: center;
}

.confirm-qty {
  width: 5rem;
  /* outline: auto; */
  text-align: center;
}

.confirm-total-div {
  padding: 2rem;
  color: white;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  background: #000;
  /* width: 16.4375rem; */
  /* height: 5.75rem; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* justify-content: space-evenly; */
}

.confirm-title {
  color: #FFF;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
  /* 166.667% */
}

.confirmation-header {
  color: #000;
  /* font-family: Manrope; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  /* 116.667% */
  letter-spacing: 0.05356rem;
  text-transform: uppercase;
}

.confirmation {
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
  /* 166.667% */
}

.others {
  color: #000;
  /* font-family: Manrope; */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01338rem;
  opacity: 0.5;
}

.confirm-amount {
  color: #FFF;
  /* font-family: Manrope; */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}